<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/skeleton :: head(title='Ooops!')"/>

<body>

<div class="container">
    <div th:replace="fragments/skeleton :: signedUser"/>

    <div th:replace="fragments/skeleton :: navbar"/>

    <!--Content-->
    <div class="jumbotron">

        <div th:if="${emptyDB}">
            <h1>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span th:text="#{error.emptyDB.header}"></span>
            </h1>
            <p th:text="#{error.emptyDB.msg}"></p>
        </div>

        <div th:if="${accessDenied}">
            <h1>
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                <span th:text="#{error.forbidden.header}"></span>
            </h1>
            <p th:text="#{error.forbidden.msg}"></p>
        </div>

        <div th:if="${genericError}">
            <h1>
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <span th:text="#{error.other.header}"></span>
            </h1>
        </div>

    </div>

    <div th:replace="fragments/skeleton :: footer"/>
</div>

<div th:replace="fragments/skeleton :: scripts(activeTab='#')"/>
</body>
</html>