<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="index :: head"></div>

<body>

<div class="container">

    <div th:replace="index :: navbar"></div>

    <!--Content-->
    <div class="jumbotron">

        <div th:if="${emptyDB}">
            <h1>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No users in your database.
            </h1>
            <p>Please add at least one user.</p>
        </div>

        <div th:unless="${emptyDB}">
        <h1>
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Ooops!
        </h1>
        <p>1. Check your database connection</p>
        <p>2. It is not a really good idea to insert your own request parameter values :)</p>
        </div>

    </div>

    <div th:replace="index :: footer"></div>

</div>

<!-- jQuery 1.12.4(necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>