<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/skeleton :: head(title='Home Page')"/>

<body>

<div class="container">
    <div th:replace="fragments/skeleton :: lang(path='/?')"/>

    <div th:replace="fragments/skeleton :: signedUser"/>

    <div th:replace="fragments/skeleton :: navbar"/>

    <!--Content-->
    <div class="jumbotron">
        <h1>User Service Project</h1>
        <p>
            This is a simple CRUD MVC project implemented with Spring Boot, MySQL and Thymeleaf technologies.
            The project is not finished and is under development. It is updated from time to time.
        </p>

        <h2 th:text="#{home.tech.list}"></h2>
        <p>Spring Boot, Maven, Spring MVC, MySQL, Thymeleaf, Bootstrap, JPA (Hibernate), Lombok
        </p>
    </div>

    <div th:replace="fragments/skeleton :: footer"/>
</div>

<div th:replace="fragments/skeleton :: scripts(activeTab='#home')"/>
</body>
</html>