<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>

<h1>Simple User Web Application</h1>
<h2>List of Users</h2>

<a th:href="@{/item/search}">Add User</a><br/>
<a th:href="@{/item/add}">Search Users</a>

<div class="pagination" th:with="prevIndex=${currentIndex} - 1, nextIndex=${currentIndex} + 1">
    <div th:with="firstUrl='/users/pages/1', lastUrl='/users/pages/' + ${userPages.totalPages},
         prevUrl='/users/pages/' + ${prevIndex}, nextUrl='/users/pages/' + ${nextIndex}">
        <ul>
            <!--Arrows back-->
            <div th:if="${currentIndex} == 1">
                <li class="disabled"><a href="#">&lt;&lt;</a></li>
                <li class="disabled"><a href="#">&lt;</a></li>
            </div>
            <div th:unless="${currentIndex} == 1">
                <li><a th:href="${firstUrl}">&lt;&lt;</a></li>
                <li><a th:href="${prevUrl}">&lt;</a></li>
            </div>
            <!--Page numbers-->
            <div th:each="i : ${#numbers.sequence(beginIndex, endIndex)}">
                <div th:with="pageUrl='/users/pages/' + ${i}">
                    <div th:if="${i} == ${currentIndex}">
                        <li class="active"><a th:href="${pageUrl}" th:text="${i}"></a></li>
                    </div>
                    <div th:unless="${i} == ${currentIndex}">
                        <li><a th:href="${pageUrl}" th:text="${i}"></a></li>
                    </div>
                </div>
            </div>
            <!--Arrows forward-->
            <div th:if="${currentIndex} == ${userPages.totalPages}">
                <li class="disabled"><a href="#">&gt;</a></li>
                <li class="disabled"><a href="#">&gt;&gt;</a></li>
            </div>
            <div th:unless="${currentIndex} == ${userPages.totalPages}">
                <li><a th:href="${nextUrl}">&gt;</a></li>
                <li><a th:href="${lastUrl}">&gt;&gt;</a></li>
            </div>
        </ul>

        <table class="users">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Admin</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userPages.getContent()}">
                <div th:object="${user}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{age}"></td>
                    <td th:text="*{isAdmin}"></td>
                    <td th:text="*{createDate}"></td>
                    <td><a th:href="@{/item/edit?id={id}(id=${user.id})}">Edit</a></td>
                    <td>
                        <button name="id">Delete</button>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>