<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="index :: head"></div>

<body>

<div class="container">

    <div th:replace="index :: navbar"></div>

    <!--Content-->
    <div class="jumbotron" th:with="users=${userPages.getContent()}">

        <!--Pagination-->
        <div th:with="prevIndex=${currentIndex} - 1, nextIndex=${currentIndex} + 1">

            <div th:with="firstUrl='/users/pages/1', lastUrl='/users/pages/' + ${userPages.totalPages},
            prevUrl='/users/pages/' + ${prevIndex}, nextUrl='/users/pages/' + ${nextIndex}">

                <nav aria-label="Page navigation">

                    <ul class="pagination">

                        <!--Arrows back-->
                        <li th:class="(${currentIndex} == 1) ? 'disabled' : ''">
                            <a th:href="(${currentIndex} == 1) ? '#' : ${firstUrl}" aria-label="First">
                                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li th:class="(${currentIndex} == 1) ? 'disabled' : ''">
                            <a th:href="(${currentIndex} == 1) ? '#' : ${prevUrl}" aria-label="Previous">
                                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                            </a>
                        </li>

                        <!--Page numbers-->
                        <li th:each="i : ${#numbers.sequence(beginIndex, endIndex)}"
                            th:class="(${i} == ${currentIndex}) ? 'active' : ''">
                            <a th:href="'/users/pages/' + ${i}" th:text="${i}"></a>
                        </li>

                        <!--Arrows forward-->
                        <li th:class="(${currentIndex} == ${userPages.totalPages}) ? 'disabled' : ''">
                            <a th:href="(${currentIndex} == ${userPages.totalPages}) ? '#' : ${nextUrl}"
                               aria-label="Next">
                                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li th:class="(${currentIndex} == ${userPages.totalPages}) ? 'disabled' : ''">
                            <a th:href="(${currentIndex} == ${userPages.totalPages}) ? '#' : ${lastUrl}"
                               aria-label="Last">
                                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
                            </a>
                        </li>

                    </ul>

                </nav>

            </div>

        </div>

        <!--Panel-->
        <div class="panel panel-primary" th:fragment="user_table_panel">

            <div class="panel-heading">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
            </div>

            <!--User table-->
            <table class="table table-hover">

                <thead>
                <tr class="thead">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Admin</th>
                    <th>Created At</th>
                    <th>Show/Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                <tr th:class="${user.admin} ? 'info' : ''" th:each="user : ${users}">
                    <div th:object="${user}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{age}"></td>
                        <td><span th:class="*{admin} ? 'glyphicon glyphicon-ok' : ''" aria-hidden="true"></span></td>
                        <td th:text="*{creationDate}"></td>
                        <td>
                            <button>
                                <a th:href="@{/user/{id}(id=*{id})}">
                                    <span class="glyphicon glyphicon-edit big-ico" aria-hidden="true"></span>
                                </a>
                            </button>
                        </td>
                        <td>
                            <button name="id" form="delete-form" type="submit" th:value="*{id}">
                                <span class="glyphicon glyphicon-trash big-ico" aria-hidden="true"></span>
                            </button>
                        </td>
                    </div>
                </tr>
                </tbody>

            </table>

            <div class="panel-footer"></div>

        </div>

        <form id="delete-form" th:action="@{/user/delete}" method="POST">
            <input type="hidden" name="page" th:value="${currentIndex}"/>
        </form>

    </div>

    <div th:replace="index :: footer"></div>

</div>

<!-- jQuery 1.12.4(necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--Custom script-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $("#users").addClass("active");
    /*]]>*/
</script>

</body>
</html>