<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="index :: head"></div>

<body>

<div class="container">

    <!--Language-->
    <div th:with="res='/users/search?' + (${query != null} ? 'query=' + ${query} + '&amp;': '')">
        <div th:replace="index :: lang"></div>
    </div>

    <div th:replace="index :: navbar"></div>

    <!--Content-->
    <div class="jumbotron">

        <form class="form-inline" th:action="@{/users/search}" th:object="${user}" method="GET">
            <div class="form-group">
                <label for="input_name" th:text="#{user.search.label}"></label>
                <input id="input_name" type="text" name="query" th:value="${query}"
                       th:placeholder="#{user.search.placeholder}"/>
            </div>
            <button type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span th:text="#{user.search.button}"></span>
            </button>
        </form>

        <div th:if="${users != null AND not #lists.isEmpty(users)}">
            <div th:replace="users :: user_table_panel"></div>
        </div>

        <form id="delete-form" th:action="@{/user/delete}" method="POST">
            <input type="hidden" name="query" th:value="${query}"/>
        </form>

    </div>

    <div th:replace="index :: footer"></div>

</div>

<!-- jQuery 1.12.4(necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--Custom script-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $("#search_users").addClass("active");
    /*]]>*/
</script>

</body>
</html>