<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="index :: head"></div>

<body>

<div class="container">

    <!--Language-->
    <div th:with="res='/user/add?'">
        <div th:replace="index :: lang"></div>
    </div>

    <div th:replace="index :: navbar"></div>

    <!--Content-->
    <div class="jumbotron">

        <!--Panel-->
        <div class="panel panel-primary">

            <div class="panel-heading" th:fragment="add_user_header">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span th:text="#{user.add.header}"></span>
            </div>

            <div class="panel-body" th:fragment="add_user_button">
                <button type="submit" class="btn btn-default element-row" form="save-form">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span th:text="#{user.add.button}"></span>
                </button>
            </div>

            <!--Form-->
            <form id="save-form" th:action="@{/user/add}" method="POST">

                <!--User table-->
                <table class="table table-bordered">

                    <thead><tr></tr></thead>

                    <tbody>
                    <tr>
                        <td th:text="#{user.name}"></td>
                        <td>
                            <input class="form-control" type="text" th:placeholder="#{user.placeholder.name}"
                                   name="name"/>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{user.age}"></td>
                        <td>
                            <input class="form-control" type="number" th:placeholder="#{user.placeholder.age}"
                                   name="age"/>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{user.admin}"></td>
                        <td><input type="checkbox" name="admin"/></td>
                    </tr>
                    </tbody>

                </table>

            </form>

        </div>

    </div>

    <div th:replace="index :: footer"></div>

</div>

<!-- jQuery 1.12.4(necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--Custom script-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $("#add_user").addClass("active");
    /*]]>*/
</script>

</body>
</html>