<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="index :: head"></div>

<body>

<div class="container">

    <div th:replace="index :: navbar"></div>

    <!--Content-->
    <div class="jumbotron">

        <!--Panel-->
        <div class="panel panel-primary">

            <div class="panel-heading">User ( ID:  <span></span> )</div>

            <form>
                <div class="form-group">
                    <label for="userID">ID</label>
                    <input type="number" class="form-control" id="userID" placeholder="ID"/>
                </div>
                <div class="form-group">
                    <label for="userName">Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <label for="userID">Age</label>
                    <input type="number" class="form-control" id="userAge" placeholder="Age"/>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/> Admin
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>

    </div>

    <div th:replace="index :: footer"></div>

</div>

<!-- jQuery 1.12.4(necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>